<ion-grid class="ion-no-padding" *ngIf="error == ''">
  <ng-container *ngIf="notas$ | async"></ng-container>
  <ion-list>
    <ion-item class="ion-no-padding" no-lines *ngFor="let nota of valores; trackBy: trackById">
      <ion-card>
        <!-- *ngIf="pref.length > 0 ? pref.indexOf(nota.Categoria)>=0 : true"> -->
        <img (click)='OpenUrl(nota.UrlLink);' *ngIf="nota.UrlImage != ''" [src]="nota.UrlImage" alt="" />
        <div class="cintillo" [ngStyle]="{'background-color': nota.CatColor}">{{nota.Categoria}}</div>
        <ion-card-content>
          <ion-card-header>
            <ion-row>
              <ion-col class="ion-pais ion-no-padding" size="12">
                <div class="ion-subtitle-pais" (click)='OpenUrl(nota.UrlLink);'>{{ nota.Pais +' - '}}</div>
                <div class="ion-fuente" (click)='OpenUrl(nota.UrlLink);'>{{' ' + nota.UrlFuente}}</div>
                <div class="ion-fecha">{{ nota.Fecha }}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding" size="12">
                <ion-card-title (click)='OpenUrl(nota.UrlLink);'>{{nota.Titulo}}</ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding" size="12">
                <ion-text class="ion-resumen">{{nota.Resumen}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-row class="card-actions">
            <ion-col *ngIf="nota.Sel === 0" class="ion-no-padding" size="4" (click)="SaveBookmark(nota);">
              <ion-icon class="icon" src="/assets/img/bookmark.svg"></ion-icon>
            </ion-col>
            <ion-col *ngIf="nota.Sel === 1" class="ion-no-padding" size="4" (click)="DelBookmark(nota);">
              <ion-icon class="icon" src="/assets/img/bookmark02.svg"></ion-icon>
            </ion-col>
            <ion-col class="ion-center ion-no-padding" size="4">
              <ion-icon class="icon icon-fire" src="/assets/img/flame.svg"></ion-icon>
              <span class="icon-text space-text">{{ ' '+nota.Ranking }}</span>
            </ion-col>
            <ion-col class="ion-center ion-no-padding" size="4" (click)="SharedLink(nota);">
              <ion-icon class="icon icon-shared" src="/assets/img/share.svg">
              </ion-icon>
              <span class="icon-text space-text"> Share</span>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <!-- </ng-container> -->
  <ion-infinite-scroll threshold="45%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"><!-- loadingText="Cargar mas notas..." -->
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-grid>
<ion-grid class="ion-no-padding" *ngIf="error != ''">
  <ion-card>
    <ion-card-content>
      <span class="">{{error}}</span>
    </ion-card-content>
  </ion-card>
</ion-grid>