<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="start" class="header-title-logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-img class="header-background" src="/assets/img/header02.jpg"></ion-img>
      <ion-img class="header-logo" src="/assets/img/lpu_logo.png"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="forgotForm">
        <ion-text color="primary">
          <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="email" formControlName="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></ion-input>
        </ion-text>
        <ion-text color="primary">
          <h3>Se le enviara un correo a la direccion registrada.
          </h3>
        </ion-text>
        <ion-button color="secondary" mode="md" expand="full" type="submit" (click)="onSubmit()"
        class="btn btn-secondary button-accept" [disabled]="!forgotForm.valid">Enviar</ion-button>
      </form>
      <ion-text color="danger" *ngIf="error != ''">{{error}}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>