.title-img {
    margin-top: 3px;
}
.text-email{
    padding-bottom: 0px;
}
.ion-form{
    margin-top: 42px !important;
}
.button-accept{
    margin-top: 40px;
    text-transform: capitalize;
    font-size: 16px !important;
}
.text-danger{
    color:red;
    margin-left: 15px;
    margin-right: 15px;
}
h3{
    padding-left: 15px;
    color: white;
    font-size: smaller;
}
h2{
    padding-left: 15px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    text-align: center;
    margin-top: 60px;
}
ion-input{
    margin-left: 15px;
    margin-right: 15px;
    width: 90%;
    --padding-top: 3px;
    --padding-bottom: 3px;
    --padding-start: 5px;
    border: solid 1px white;
    color:white;
}
ion-label{
     padding-left: 15px;
     color:white;
}
ion-button{
    margin-left: 0px;
    margin-right: 0px;
}
ion-content{
    --background: black;
    --padding-start: 15px;
    --padding-end: 10px;
}