.header-title-logo{
    display: inline-block;
    height: 40px;
    background: url('/assets/img/resize.png') no-repeat 100px center/ 95px 40px;
}
.header-logo {
    position: absolute;
    height: 45%;
    width: 65%;
    top: 15px;
    left: 20%;
}
.header-background {
    position: relative;
    height: 100px;
}
ion-input{
    border: solid 1px #333333;
    --padding-top: 3px;
    --padding-bottom: 3px;
    --padding-start: 5px;
}
ion-button{
    margin-left: 0px;
    margin-right: 0px;
}
ion-card-content{
    padding-top: 5px;
}