<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/logoLPU.png" height="40" class="title-img">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-text><h2>Recuperar mi contraseña</h2></ion-text>
  <form class="ion-form" [formGroup]="forgotForm">
    <div class="text-email">
      <ion-text color="primary">
        <ion-label position="stacked">Correo electrónico <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="email" formControlName="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></ion-input>
      </ion-text>
      <div *ngIf="forgotForm.get('Email').invalid && (forgotForm.get('Email').dirty || forgotForm.get('Email').touched)">
        <label class="text-danger" *ngIf="forgotForm.get('Email').errors.required">Correo electrónico no debe estar vacio</label>
        <label class="text-danger" *ngIf="forgotForm.get('Email').errors.pattern">Correo electrónico invalido</label>
      </div>
    </div>
    <ion-text color="primary" class="info-text">
      <h3>Se le enviará un correo a la dirección registrada.
      </h3>
    </ion-text>
    <ion-button color="secondary" mode="md" expand="full" type="submit" (click)="onSubmit()"
    class="btn btn-secondary button-accept">Enviar</ion-button>
    <!-- [disabled]="!forgotForm.valid" -->
  </form>
</ion-content>