<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="start" class="header-title-logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-text><h2>Forgot your Password?</h2></ion-text>
  <form [formGroup]="forgotForm">
    <div class="text-email">
      <ion-text color="primary">
        <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="email" formControlName="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></ion-input>
      </ion-text>
    </div>
    <ion-text color="primary" class="info-text">
      <h3>Se le enviara un correo a la direccion registrada.
      </h3>
    </ion-text>
    <ion-button color="secondary" mode="md" expand="full" type="submit" (click)="onSubmit()"
    class="btn btn-secondary button-accept">Enviar</ion-button>
    <!-- [disabled]="!forgotForm.valid" -->
  </form>
</ion-content>