.header-title-logo{
    display: inline-block;
    height: 40px;
    background: url('/assets/img/resize.png') no-repeat 10px center/ 95px 40px;
}
.header-logo {
    position: absolute;
    height: 45%;
    width: 65%;
    top: 15px;
    left: 20%;
}
.header-background {
    position: relative;
    height: 100px;
}
.icon-profile{
    height: 48px;
    width: 48px;
}