.header-title-logo{
    display: inline-block;
    height: 40px;
    background: url('/assets/img/resize.png') no-repeat 100px center/ 95px 40px;
}
.header-logo {
    position: absolute;
    height: 45%;
    width: 65%;
    top: 15px;
    left: 20%;
}
.header-background {
    position: relative;
    height: 100px;
}
.icon-profile{
    height: 48px;
    width: 48px;
}
ion-card-content{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
.paquete-descripcion{
    padding-left: 17px;
    padding-right: 15px;
}
.title-paq{
    text-transform: uppercase;
}