<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="/assets/img/resize.png" height="40" class="title-img">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <ion-icon class="icon-profile" *ngIf="foto === ''" src="/assets/img/person-circle.svg"></ion-icon>
        <ion-img *ngIf="foto != ''" [src]="foto"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9">
        <ion-row>
          <ion-text color="primary">
            <h2 class="ion-text-uppercase">{{nombre}}
            </h2>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text color="primary">
            <h3>{{email}}
            </h3>
          </ion-text>
        </ion-row>
      </ion-col> 
    </ion-row>
    <ion-row class="">
      <div class="ion-float-left text-checkbox">
        <ion-checkbox name="notificaciones" mode="ios" checked="notifications" (ionChange)="setNotifications()">
        </ion-checkbox>
        <ion-label>&nbsp;&nbsp;&nbsp;Permitir Notificaciones</ion-label>
      </div>
    </ion-row>
    <ion-row class="">
      <ion-col col="12">
        <ion-button  mode="md" color="secondary" expand="full" type="submit" (click)="onSubmit()"
        class="btn btn-secondary button-accept">Desconectar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ng-container *ngIf="paquete$ | async"></ng-container>
      <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="plan">
        <ion-segment-button mode="md" value="plan">
          <ion-label>Plan</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="md" value="follow">
          <ion-label>Follows</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
  </ion-grid>
  <ion-card class="ion-card-paquetes" *ngIf="Titulo != '' && Display == 'plan'">
    <ion-card-header>
      <ion-card-title class="title-paq">{{Titulo}}</ion-card-title>
      <ion-card-subtitle class="subtitle-paq">{{ 'USD $. ' + (Precio | number:'2.2-2')}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="paquete-descripcion">
      <div [innerHTML]="Descripcion"></div>
    </ion-card-content>
  </ion-card>
  <ng-container *ngIf="(paquetes$ | async) && Display == 'plan'">
    <ion-text class="title-paquetes"><h3>Actualizar Plan</h3></ion-text>
    <ion-radio-group mode="md" [(ngModel)]="paqueteId" (ionChange)="setPaquete($event)">
      <ng-container *ngFor="let paq of paquetes; let i = index">
        <ion-card class="ion-card-paquetes">
          <ion-card-header>
            <ion-radio mode="md" value="{{paq.PaqueteId}}"></ion-radio>
            <ion-card-title class="title-paq">{{paq.Titulo}}</ion-card-title>
            <ion-card-subtitle class="subtitle-paq">{{ 'USD $. ' + (paq.Precio | number:'2.2-2')}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="paquete-descripcion">
            <div [innerHTML]="paq.Descripcion"></div>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ion-radio-group>
    <ion-button color="secondary" mode="md" expand="full" type="submit" (click)="onUpgradePlan()"
      class="btn btn-secondary button-accept">Actualizar Plan</ion-button>
    <ion-text color="danger" *ngIf="error != ''">{{error}}</ion-text>
  </ng-container>
  <ion-grid class="ion-no-padding" *ngIf="Display == 'follow'">
    <ion-card class="ion-card-follow" (click)='OpenUrl(item.UrlLink);' *ngFor="let item of nota">
      <img *ngIf="item.UrlImage != ''" [src]="item.UrlImage" alt="" />
      <ion-card-content class="ion-card-content-follow">
        <ion-card-header class="ion-card-header-follow">
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <!-- <div class="ion-subtitle-pais" (click)='OpenUrl(nota.UrlLink);'>{{item.Pais + ' - '}}</div> -->
              <div class="ion-fuente" (click)='OpenUrl(item.UrlLink);'>{{' ' + item.UrlFuente}}</div>
              <div class="ion-fecha">{{ item.Fecha }}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <div class="follow-title" (click)='OpenUrl(item.UrlLink);'>{{item.Titulo}}</div>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-row class="card-actions">
          <ion-col class="ion-no-padding" size="12">
            <ion-icon class="icon" src="/assets/img/bookmark.svg"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-text class="follow-text" *ngIf="nofollows != ''">{{nofollows}}</ion-text>
  </ion-grid>
</ion-content>