.header-title-logo{
    display: inline-block;
    height: 40px;
    background: url('/assets/img/resize.png') no-repeat center/95px;
}
.header-logo {
    position: absolute;
    height: 45%;
    width: 65%;
    top: 15px;
    left: 20%;
}
.header-background {
    position: relative;
    height: 100px;
}
.icon-profile{
    height: 84px;
    width: 84px;
    color: lightgray;
    margin-left: -15px;
}
.paquete-descripcion{
    padding-left: 17px;
    padding-right: 15px;
}
.title-paq{
    text-transform: uppercase;
}
h2{
    margin-top: 0px;
    margin-bottom: 2px;
    color:white;
}
h3{
    margin-top: 0px;
    color:white;
    font-size: small;
}
.segment-button-checked{
    border-bottom: 3px solid #3CC0FD;
    color: #3CC0FD;
}
.text-checkbox{
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 15px;
    padding-left: 10px;
}
.ion-title{
    font-size: medium;
    color: white;
    font-family: 'Georgia Pro Cond Semibold', sans-serif !important;
}
.ion-header{
    padding-left: 5px;
    padding-right: 5px;
}
.icon{
    display: inline-block;
    font-size: 20px;
    color: white;
    vertical-align: middle;
}
.title-paquetes h3{
    padding-left: 10px;
    font-weight: 800;
}
.button-accept{
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 16px;
}
ion-card-content{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    color:white;
}
ion-content{
    --background: black;
    --padding-start: 15px;
    --padding-end: 10px;
}
ion-segment-button{
    color:white;
    font-size: 12px;
    height: 40px;
    min-height: 40px;
}
ion-segment{
    margin-top: 20px;
}
ion-card-title{
    color: white;
}
ion-card-subtitle{
    color:white;
}
ion-card{
    border: solid 1px darkgray;
    border-radius: 0px;
    background: #444444;
    margin-left: 0px;
    margin-right: 0px;
}
ion-checkbox{
    height: 20px;
    width: 20px;
}