<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start" class="header-title-logo">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <ion-icon class="icon-profile" *ngIf="foto === ''" src="/assets/img/person-circle.svg"></ion-icon>
        <ion-img *ngIf="foto != ''" [src]="foto"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9">
        <ion-row>
          <ion-text color="primary">
            <h2 class="ion-text-uppercase">{{nombre}}
            </h2>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text color="primary">
            <h3>{{email}}
            </h3>
          </ion-text>
        </ion-row>
      </ion-col> 
    </ion-row>
    <ion-row class="">
      <div class="ion-float-left text-checkbox">
        <ion-checkbox name="notificaciones" mode="ios" checked="notifications" (ionChange)="setNotifications()">
        </ion-checkbox>
        <ion-label>&nbsp;&nbsp;&nbsp;Permitir Notificaciones</ion-label>
      </div>
    </ion-row>
    <ion-row class="">
      <ion-col col="12">
        <ion-button  mode="md" color="secondary" expand="full" type="submit" (click)="onSubmit()"
        class="btn btn-secondary button-accept">Desconectar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ng-container *ngIf="paquete$ | async"></ng-container>
      <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="plan">
        <ion-segment-button mode="md" value="plan">
          <ion-label>Plan</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="md" value="follow">
          <ion-label>Follows</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
  </ion-grid>
  <ion-card *ngIf="Titulo != '' && Display == 'plan'">
    <ion-card-header>
      <ion-card-title class="title-paq">{{Titulo}}</ion-card-title>
      <ion-card-subtitle class="subtitle-paq">{{ 'USD $. ' + (Precio | number:'2.2-2')}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="paquete-descripcion">
      <div [innerHTML]="Descripcion"></div>
    </ion-card-content>
  </ion-card>
  <ng-container *ngIf="(paquetes$ | async) && Display == 'plan'">
    <ion-text class="title-paquetes"><h3>Upgrade Plan</h3></ion-text>
    <ng-container *ngFor="let paq of paquetes; let i = index">
      <ion-card>
        <ion-card-header>
          <ion-checkbox mode="ios" class="checkbox-paquete" [(ngModel)]="paq.Sel" val="{{paq.PaqueteId}}" (ionChange)="setPaquete(paq.Titulo, paq.PaqueteId)"></ion-checkbox>
          <ion-card-title class="title-paq">{{paq.Titulo}}</ion-card-title>
          <ion-card-subtitle class="subtitle-paq">{{ 'USD $. ' + (paq.Precio | number:'2.2-2')}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="paquete-descripcion">
          <div [innerHTML]="paq.Descripcion"></div>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ion-button color="secondary" mode="md" expand="full" type="submit" (click)="onUpgradePlan()"
      class="btn btn-secondary button-accept">Actualizar Plan</ion-button>
    <ion-text color="danger" *ngIf="error != ''">{{error}}</ion-text>
  </ng-container>
  <ion-grid *ngIf="Display == 'follow'">
    <ion-card (click)='OpenUrl(item.UrlLink);' *ngFor="let item of nota">
      <img *ngIf="item.UrlImage != ''" [src]="item.UrlImage" alt="" />
      <ion-card-content>
        <ion-card-header class="ion-header">
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <ion-card-title class="ion-title">{{item.Titulo}}</ion-card-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <ion-text class="ion-fuente">{{item.UrlFuente}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding" size="12">
              <span class="icon-text space-text">{{ item.Fecha }}</span>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-row class="card-actions">
          <ion-col class="ion-no-padding" size="12">
            <ion-icon class="icon" src="/assets/img/bookmark.svg"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>