login-form{
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
    margin-bottom: 12px;
    margin-top: 12px;
}
ion-input{
    margin-left: 15px;
    margin-right: 15px;
    width: 90%;
    --padding-top: 3px;
    --padding-bottom: 3px;
    --padding-start: 5px;
    border: solid 1px white;
    color:white;
 }
 ion-label{
     padding-left: 15px;
     color:white;
 }
 ion-content{
    --background: black;
    --padding-start: 15px;
    --padding-end: 10px;
}
ion-button{
    color: white;
}
h2{
    padding-left: 15px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    margin-top: 80px;
}
.header-title-logo{
    display: inline-block;
    height: 40px;
    background: url('/assets/img/logoLPU.png') no-repeat center/40px;
    // position: absolute;
    // top: 5px;
    // left: 60px;
    padding-left: 0px;
    padding-right: 0px;
}
.button-accept{
    margin-top: 40px;
    text-transform: capitalize;
    font-size: 16px !important;
}
.forgot-button {
    --border-style: none;
    font-size: 12px;
    text-transform: initial !important;
}
.text-email{
    padding-bottom: 15px;
}
.ion-text-menu{
    font-size: 14px;
}
.text-danger{
    color:red;
    margin-left: 15px;
    margin-right: 15px;
}