<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" mode="md" fill="outline" size="small">
      <ion-button mode="md" fill="outline" size="small" type="button" color="secondary" class="ion-text-capitalize" [routerLink]="['/register']">
        Register
      </ion-button>
    </ion-buttons>
    <ion-title class="header-title-logo"></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-text><h2>Welcome</h2></ion-text>
  <form [formGroup]="loginForm">
    <div class="text-email">
      <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="email" formControlName="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></ion-input>
    </div>
    <div class="">
      <ion-label position="stacked">Password <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="password" formControlName="Password" required></ion-input>
    </div>
    <ion-button color="secondary" mode="md" expand="full" type="submit" (click)="onSubmit()"
      class="btn btn-secondary button-accept">LOGIN</ion-button> <!-- [disabled]="!loginForm.valid"-->
    <ion-text color="danger" *ngIf="error != ''">Invalid Credentials</ion-text>
  </form>
  <ion-button type="button" class="forgot-button ion-text-capitalize" mode="md" fill="outline" expand="full" [routerLink]="['/forgotpassword']">Forgot password?
  </ion-button>
</ion-content>