ion-menu {
    --ion-background-color: var(--ion-color-primary);
    --ion-text-color: var(--ion-color-primary-contrast);

    ion-toolbar {
        --background: var(--ion-color-primary);
    }

    ion-list {/* optional, but it needs when you use gradient as a background color.*/
        background: transparent;
    }
}
ion-item{
    --border-color: var(--ion-color-dark);
}
ion-label{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100;
    font-size: medium !important;
}
.menu-badge{
    width: 5px;
    // background-color: green;
    height: 100%;
    padding-left: 10px;
    display: block;
    margin-right: 10px;
}
.header-title-logo{
    display: inline-block;
    height: 40px;
}
.title-img {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top:3px;
    text-align:center;
}