<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="registerForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item class="ion-padding-top">
        <ion-label position="stacked">Nombre Completo <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="Name" required></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-label position="stacked">Compañia </ion-label>
        <ion-input></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="email" formControlName="Email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" formControlName="Password" required></ion-input>
      </ion-item>

      <ion-radio-group formControlName="Genero">
        <ion-label position="stacked" class="ion-padding-start ion-padding-end">Genero</ion-label>
        <ion-label position="stacked">M</ion-label>
        <ion-radio slot="start" value="M" mode="md"></ion-radio>
        <ion-label position="stacked" class="ion-padding-start">F</ion-label>
        <ion-radio slot="start" value="F" mode="md"></ion-radio>
      </ion-radio-group>
      
      <ion-item>
        <ion-label position="stacked">Fecha de Nacimiento</ion-label>
        <ion-datetime displayFormat="DD MM YYYY" placeholder="Select Date" formControlName="FechaNacimiento" required></ion-datetime>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button color="secondary" expand="block" type="submit" (click)="onSubmit()" class="btn btn-secondary ion-no-margin" [disabled]="!registerForm.valid">Registrar</ion-button>
    </div>
  </form>
</ion-content>