<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" size="small" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title-logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ng-container *ngIf="step==1">
    <ion-card>
      <ion-card-header>
        <ion-img class="header-background" src="/assets/img/header02.jpg"></ion-img>
        <ion-img class="header-logo" src="/assets/img/lpu_logo.png"></ion-img>
        <ion-card-title>Register</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="registerForm">
          <ion-label position="stacked">Nombre Completo <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input formControlName="Name" required></ion-input>
          <!-- <ion-item>
        <ion-label position="stacked">Compañia </ion-label>
        <ion-input></ion-input>
      </ion-item> -->
          <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="email" formControlName="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
          </ion-input>
          <ion-label position="stacked">Password <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="password" formControlName="Password" required></ion-input>
          <ion-label position="stacked">Fecha de Nacimiento</ion-label>
          <ion-datetime displayFormat="DD MM YYYY" placeholder="Select Date" formControlName="FechaNacimiento" required>
          </ion-datetime>
          <ion-radio-group formControlName="Genero">
            <ion-label position="stacked" class="ion-padding-start ion-padding-end">Genero</ion-label>
            <ion-label position="stacked">M</ion-label>
            <ion-radio slot="start" value="M" mode="md"></ion-radio>
            <ion-label position="stacked" class="ion-padding-start">F</ion-label>
            <ion-radio slot="start" value="F" mode="md"></ion-radio>
          </ion-radio-group>
          <ion-button color="secondary" mode="md" expand="full" type="submit" (click)="onSubmit()"
            class="btn btn-secondary button-accept" [disabled]="!registerForm.valid">Registrar</ion-button>
          <ion-text color="danger" *ngIf="error != ''">{{error}}</ion-text>
        </form>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="paquetes$ | async">
    <ng-container *ngIf="step==2">
      <ion-text class="title-paquetes"><h3>Seleccione Paquete a Contratar</h3></ion-text>
      <form [formGroup]="paquetesForm">
        <ng-container formArrayName="Paquetes" *ngFor="let paq of paquetesForm.get('Paquetes').controls; let i = index">
          <ng-container [formGroupName]="i">
            <ion-card>
              <ion-card-header>
                <ion-checkbox class="checkbox-paquete" formControlName="Sel" (ionChange)="setPaquete(i, paq.PaqueteId)"></ion-checkbox>
                <ion-card-title class="title-paq">{{paq.value.Titulo}}</ion-card-title>
                <ion-card-subtitle class="subtitle-paq">{{ 'USD $. ' + (paq.value.Precio | number:'2.2-2')}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div [innerHTML]="paq.value.Descripcion"></div>
              </ion-card-content>
            </ion-card>
          </ng-container>
        </ng-container>
      </form>
    </ng-container>
  </ng-container>
</ion-content>