<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>
      <img src="/assets/img/logoLPU.png" height="40" class="title-img">
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ng-container *ngIf="step==1">
    <ion-text><h2>Regístrate</h2></ion-text>
    <form [formGroup]="registerForm">
      <div class="text-form">
        <ion-input placeholder="Nombre completo"  formControlName="Name" required></ion-input>
        <div *ngIf="registerForm.get('Name').invalid && (registerForm.get('Name').dirty || registerForm.get('Name').touched)">
          <label class="text-danger" *ngIf="registerForm.get('Name').errors.pattern">Nombre completo invalido</label>
        </div>
      </div>
      <!-- <ion-item>
    <ion-label position="stacked">Compañia </ion-label>
    <ion-input></ion-input>
  </ion-item> -->
      <div class="text-form">
        <ion-input placeholder="Correo electrónico" type="email" formControlName="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></ion-input>
        <div *ngIf="registerForm.get('Email').invalid && (registerForm.get('Email').dirty || registerForm.get('Email').touched)">
          <label class="text-danger" *ngIf="registerForm.get('Email').errors.required">Correo electrónico no debe estar vacio</label>
          <label class="text-danger" *ngIf="registerForm.get('Email').errors.pattern">Correo electrónico invalido</label>
        </div>
      </div>
      <div class="text-form">
        <ion-input placeholder="Contraseña" type="password" formControlName="Password" required></ion-input>
        <div *ngIf="registerForm.get('Password').invalid && (registerForm.get('Password').dirty || registerForm.get('Password').touched)">
          <label class="text-danger" *ngIf="registerForm.get('Password').errors.pattern">Contraseña invalida</label>
        </div>
      </div>
      <div class="text-form">
        <ion-datetime displayFormat="DD MM YYYY" [min]="fechaMin" [max]="fechaMax" placeholder="Fecha de nacimiento" formControlName="FechaNacimiento" required>
        </ion-datetime>
        <div *ngIf="registerForm.get('FechaNacimiento').invalid && (registerForm.get('FechaNacimiento').dirty || registerForm.get('FechaNacimiento').touched)">
          <label class="text-danger" *ngIf="registerForm.get('FechaNacimiento').errors.pattern">Fecha de nacimiento invalida</label>
        </div>
      </div>
      <ion-radio-group formControlName="Genero">
        <ion-label position="stacked" class="ion-padding-start ion-padding-end">Género</ion-label>
        <ion-label position="stacked">M</ion-label>
        <ion-radio slot="start" value="M" mode="md"></ion-radio>
        <ion-label position="stacked" class="ion-padding-start">F</ion-label>
        <ion-radio slot="start" value="F" mode="md"></ion-radio>
      </ion-radio-group>
      <ion-button color="secondary" mode="md" expand="full" type="button" (click)="changeStep()"
        class="btn btn-secondary button-accept">Continuar</ion-button>
    </form>
  </ng-container>
  <ng-container *ngIf="paquetes$ | async">
    <ng-container *ngIf="step==2">
      <ion-text class="title-paquetes"><h3>Seleccione Paquete a Contratar</h3></ion-text>
        <ion-radio-group mode="md" [(ngModel)]="paqueteId" (ionChange)="setPaquete($event)">
          <ng-container *ngFor="let paq of paquetes; let i = index">
              <ion-card>
                <ion-card-header>
                  <ion-radio mode="md" class="checkbox-paquete"></ion-radio>
                  <ion-card-title class="title-paq">{{paq.Titulo}}</ion-card-title>
                  <ion-card-subtitle class="subtitle-paq">{{ 'USD $. ' + (paq.Precio | number:'2.2-2')}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <div [innerHTML]="paq.Descripcion"></div>
                </ion-card-content>
              </ion-card>
          </ng-container>
        </ion-radio-group>
        <ion-button color="secondary" mode="md" expand="full" type="submit" (click)="onSubmit()"
          class="btn btn-secondary button-accept">Registrar</ion-button>
        <ion-text color="danger" *ngIf="error != ''">{{error}}</ion-text>
    </ng-container>
  </ng-container>
</ion-content>