ion-card{
    border: solid 1px darkgray;
    border-radius: 0px;
    background: #444444;
}
ion-card-content{
    padding: 8px 8px 8px 8px;
    color:white;
}
ion-card-header {
    padding: 0;
}
ion-card-title{
    padding-left: 20px;
    padding-top: 10px;
    font-weight: 700;
    padding-bottom: 10px;
    color:white;
}
ion-card-subtitle{
    color:white;
}
login-form{
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
    margin-bottom: 12px;
    margin-top: 12px;
}
ion-input{
    margin-left: 15px;
    margin-right: 15px;
    width: 90%;
    --padding-top: 3px;
    --padding-bottom: 3px;
    --padding-start: 5px;
    border: solid 1px white;
    color:white;
 }
ion-label{
    padding-left: 15px;
    color:white;
 }
ion-content{
    --background: black;
    --padding-start: 15px;
    --padding-end: 10px;
}
ion-button{
    color: white;
}
h2{
    padding-left: 15px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    text-align: center;
    margin-top: 65px;
}
ion-radio{
    position: relative;
    top: 5px;
    left: 5px;
    --color-checked: white;
}
ion-datetime{
    color:white;
    font-size: smaller;
    width: 180px;
    left: 14px;
    background: var(--ion-color-primary, #3880ff) !important;
}
.header-title-logo{
    display: inline-block;
    height: 40px;
    background: url('/assets/img/logoLPU.png') no-repeat center/40px;
    // position: absolute;
    // top: 5px;
    // left: 60px;
    padding-left: 0px;
    padding-right: 0px;
}
.header-image{
    // display: inline-block;
    // height: 40px;
    padding-left: 0px;
    padding-right: 0px;
}
.image-app{
    height: 30px;
}
.button-accept{
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 16px;
}
.title-paquetes h3{
    padding-left: 10px;
    font-weight: 800;
}
.checkbox-paquete{
    position: absolute;
    top: 12px;
    left: 5px;
}
.title-paq{
    padding-left: 40px;
}
.subtitle-paq{
    padding-left: 40px;
    font-weight: 800;
    font-size: large;
}
.text-form{
    padding-bottom: 15px;
}
.text-danger{
    color:red;
    margin-left: 15px;
    margin-right: 15px;
}