.conatiner-uh{
    display: inline-flex;
}
.ultima-hora-text{
    color:white;
    background: red;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    width: 100px;
    flex: 1;
}
.content-text{
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;
    display: inline-block;
    animation: right_to_left 18s ease;
    white-space: nowrap;
}
@keyframes right_to_left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: -150%;
    }
  }