ion-segment{
  --background: url('/assets/img/header.jpg');
  height: 44px;
}
ion-segment-button{
  background: var(--ion-color-primary);
  color: white;
  border: 0px;
  border-radius: 0px;
  min-width: 90px;
}
ion-searchbar{
  --color	:white;
}
ion-menu-button {
  display: inline !important;
}
ion-footer{
  background: white;
}
.segment-button-checked{
  border-bottom: 6px solid darkred;
}
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.header-title-logo{
  display: inline-block;
  height: 40px;
}
.title-img {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align:center;
}
.icon{
  background-color: white;
}