<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-img">
      <ion-img class="header-title-logo" src="/assets/img/resize.png"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="displaySearch()">
        <ion-icon slot="icon-only" src="/assets/img/search-circle.svg"></ion-icon>
      </ion-button>
      <ion-button [routerDirection]="'forward'" [routerLink]="['/login']">
        <ion-icon slot="icon-only" src="/assets/img/person-circle.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar mode="ios" placeholder="Buscar" cancelButtonText="Cerrar" *ngIf="searchDisp" showCancelButton="always" (ionChange)="filterNotas($event)" debounce="500" (ionCancel)="hideSearch()"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-img class="header-background" src="/assets/img/header02.jpg"></ion-img>
  <ion-img class="header-logo" src="/assets/img/lpu_logo.png"></ion-img>
  <ion-segment mode="md" (ionChange)="selectLocation($event)" value="mundial">
    <ion-segment-button value="pais">
      <ion-label>PAIS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="region">
      <ion-label>REGION</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mundial">
      <ion-label>MUNDIAL</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment mode="md" scrollable value="heart">
    <ion-segment-button value="home">
      <ion-label>Homae</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-label>Heart</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pin">
      <ion-label>Pin</ion-label>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="star">
      <ion-label>Star</ion-label>
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="call">
      <ion-label>Call</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="globe">
      <ion-label>Globa</ion-label>
      <ion-icon name="globe"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="basket">
      <ion-label>Basket</ion-label>
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="people">
      <ion-icon name="people"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="folder">
      <ion-icon name="folder"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="arrow">
      <ion-icon name="arrow"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="basketball">
      <ion-icon name="basketball"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="backspace">
      <ion-icon name="backspace"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  
  <app-notas [search]="valueSearch" [loc]="location" [sec]="section"></app-notas>

  <!-- <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Ionic Documentation</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
