<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-img">
      <ion-img class="header-title-logo" src="/assets/img/resize.png"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ng-container *ngIf="paises$ | async"></ng-container>
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" src="/assets/img/location-outline.svg"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showSearch" (click)="displaySearch()">
        <ion-icon slot="icon-only" src="/assets/img/search-circle.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar mode="ios" placeholder="Buscar" cancelButtonText="Cerrar" *ngIf="searchDisp" showCancelButton="always" (ionChange)="filterNotas($event)" debounce="500" (ionCancel)="hideSearch()"></ion-searchbar>
</ion-header>
<ion-content>
  <ion-segment mode="md" scrollable (ionChange)="getData($event)" value="0">
    <ion-segment-button value="0" [ngStyle]="{'background': '#333333'}">
      <ion-label class="ion-text-capitalize">#Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngFor="let menu of items" value="{{menu.CategoryId}}" [ngStyle]="{'background': menu.Color}">
      <ion-label class="ion-text-capitalize">{{'#'+menu.Nombre}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-notas [search]="valueSearch" [loc]="location" [sec]="section" [pais]="selpais"></app-notas>
</ion-content>
<ion-footer class="">
  <app-ultimahora></app-ultimahora>
</ion-footer>